<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matias Sanchez - Contact</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <header class="banner">
        <div class="bannerbtn">
            <a href="experience.html">MY EXPERIENCE</a>
            <a href="#">CONTACT</a>
            <a href="../index.html">GO BACK</a>
        </div>
</header>
<div id="text-contact">
    GET IN CONTACT<br>
    
        <div class="btncontact-container">
            <a href="mailto:mati.webdev.contact@gmail.com" class="btncontact">EMAIL</a>
            <a href="https://discord.com/users/ 1095742493364060200" class="btncontact">DISCORD</a>
            <a href="https://www.linkedin.com/in/matias-sanchez-7a8129205/" class="btncontact">LINKEDIN</a>
        </div>
       
        
   
   
</div>
<br><br><br><br>
<div class="bot-banner">
    <p>Matias Sanchez - mati.webdev.contact@gmail.com</p>
</div>
</body>
</html>













<!--<div class="in-flex">Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Quidem iste libero voluptas pariatur architecto quaerat cum.
        Quaerat officiis commodi quod ipsam nam quis minus sit? 
        Iste ducimus dolor molestias amet.</div>
    <div class="in-flex">
        <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Quidem iste libero voluptas pariatur architecto quaerat cum.
            Quaerat officiis commodi quod ipsam nam quis minus sit? 
            Iste ducimus dolor molestias amet.</div>
    <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Quidem iste libero voluptas pariatur architecto quaerat cum.
        Quaerat officiis commodi quod ipsam nam quis minus sit? 
        Iste ducimus dolor molestias amet.</div>
    <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Quidem iste libero voluptas pariatur architecto quaerat cum.
        Quaerat officiis commodi quod ipsam nam quis minus sit? 
        Iste ducimus dolor molestias amet.</div>

    </div>-->