<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matias Sanchez - My Experience</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <header class="banner">
        <div class="bannerbtn">
            <a href="#">MY EXPERIENCE</a>
            <a href="contact.html">CONTACT</a>
            <a href="../index.html">GO BACK</a>
        </div>
</header>
<div id="text-exp">
    I'm Matias, I'm 24 years old and I'm from Paysandu, Uruguay.
    I'm an advanced computer technologist student in the 
    Technological University of Uruguay. I have skills developing
    websites using HTML, CSS, PHP and others, as well as creating
    desktop apps in Java and creating and mantaining SQL databases.
    I'm always learning and I woud love to work with you!

    Check out my prototypes in the section "My work"
    
   
   
</div>
<br><br><br><br>
<div class="bot-banner">
    <p>Matias Sanchez - mati.webdev.contact@gmail.com</p>
</div>
</body>
</html>