<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matias Sanchez - Projects</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <header class="banner">
        <div class="bannerbtn">
            <a href="../views/experience.html">MY EXPERIENCE</a>
            <a href="../views/contact.html">CONTACT</a>
            <a href="../index.html">GO BACK</a>
        </div>
</header>
<div id="text-contact">
    MY WORK<br><br>
</div>
<div class="bannerprojects">
    <div class="container">
        <img src="../img/exmpl1.png" alt="Imagen 1">
        <div id="text-desc">
            A clothing selling website, with a main page,
            a catalogue, a contact information section y and an offers button.
        </div>
        
    </div>
</div>
<div id="text-contact">
<div class="btncontact-container">
   <a href="https://matiassaitama.github.io/clothingWebsite/" class="btncontact">VISIT WEBSITE</a>
</div>
</div>
        <br><br><br><br>
<div class="bot-banner">
    <p>Matias Sanchez - mati.webdev.contact@gmail.com</p>
</div>
   


</body>
</html>